#### Leemos el archivo parquet, que se subio al MINIO

In [1]:
import pandas as pd
from io import BytesIO
from minio import Minio
import urllib3

# Conectar al servidor de MinIO
client2 = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO (mydomain.com)
    access_key="PTDkCupJb66cl9DwvmlW",
    secret_key="AkVxpH7t4og1DK6VIJo8jLrdQTBz9a6ZhzOYYT6n",
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificaciÃ³n del certificado
)

# Nombre del bucket y del archivo
bucket_name = 'hudbayraw'
object_name = 'data_pases_2023-06-01_2023-07-01.parquet'  # Nombre del archivo Parquet que quieres leer

# Obtener el archivo Parquet del bucket
response = client2.get_object(bucket_name, object_name)
data = response.read()

# Convertir los datos leÃ­dos en un DataFrame de Pandas
parquet_buffer = BytesIO(data)
datos = pd.read_parquet(parquet_buffer)

# Mostrar el DataFrame
datos.head()

,id_ciclo_acarreo,id_cargadescarga,id_palas,id_equipo_camion,id_ciclo_carguio,id_equipo_carguio,id_trabajador_pala,id_guardia_realiza_carga_al_camion,id_locacion,id_poligono_se_obtiene_material,...,id_cargadescarga_pases,coord_x_pases,coord_y_pases,coord_z_pases,angulo_giro_pases,tonelaje_pases,duracion_excavacion_pases,angulo_giro_promedio_pases,has_block_pases,rownum
0,2606466,2606466,2964682,41,2964682,26,221,2,44919,59473,...,2606466.0,"[20463338, 20463338, 20463334, 20463338, 20463...","[839692963, 839692966, 839692968, 839692971, 8...","[418527, 418521, 418523, 418516, 418517, 418524]","[87, 81, 79, 71, 65, 92, 91, 85, 75, 65, 69, 9...","[760, 393, 356, 453, 343]","[26, 42, 22, 30, 32, 32700]",80.0,True,1
1,2606467,2606467,2964686,43,2964686,27,232,2,44941,59547,...,2606467.0,"[20444297, 20444553, 20444495, 20444418, 20444...","[839667711, 839667632, 839667540, 839667665, 8...","[418456, 418454, 418455, 418455, 418457, 41846...","[39, 1, 0, 1, 1, 21, 16, 1, 4, 3, 19, 13, 25, ...","[768, 340, 337, 340, 297, 295]","[30, 36, 38, 38, 10, 28, 10, 32700]",14.0,True,1
2,2606468,2606468,2964690,44,2964690,27,232,2,44941,59547,...,2606468.0,"[20444531, 20444317, 20444366, 20444322, 20445...","[839668575, 839668163, 839668082, 839668073, 8...","[418459, 418455, 418457, 418457, 418456, 41846...","[46, 29, 20, 22, 33, 35, 40, 46, 55, 17, 21, 1...","[643, 280, 324, 238, 297, 344, 229]","[40, 34, 38, 26, 12, 42, 38, 32700]",34.0,True,1
3,2606469,2606469,2964684,52,2964684,24,246,2,44939,59557,...,2606469.0,"[20074133, 20074149, 20074146, 20074163, 20074...","[839976228, 839976242, 839976263, 839976185, 8...","[421519, 421510, 421504, 421510, 421509, 421511]","[119, 80, 63, 81, 79, 68, 118, 80, 62, 83, 87,...","[600, 33, 96, 22, 22, 49, 298, 23, 23, 128, 11...","[38, 24, 32, 30, 26, 32700]",82.0,True,1
4,2606470,2606470,2964683,183,2964683,163,249,2,44900,58904,...,2606470.0,"[20164962, 20165173, 20165063, 20165181, 20165...","[839802875, 839802890, 839802867, 839802804, 8...","[421987, 421985, 421986, 421988, 421982]","[36, 28, 44, 35, 23, 42, 39, 39, 38, 29, 35, 2...","[979, 481, 478, 412, 207]","[36, 34, 40, 30, 32700]",36.0,True,1

In [2]:
# 3.Tratamiento de valores Nulos
# 3.1 Supongamos que tienes un DataFrame llamado datos
valores_nulos = datos.isnull().sum()
valores_nulos_ordenados = valores_nulos.sort_values(ascending=False)
porcentaje_nulos = (valores_nulos_ordenados / len(datos)) * 100

# 3.2 Eliminamos las variables que tienen mas de 80% Nulos
columnas_a_eliminar = porcentaje_nulos[porcentaje_nulos > 80].index
datos = datos.drop(columnas_a_eliminar, axis=1)

In [3]:
datos.isnull().sum().values

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    4,    0,    0,    0,    0,    0,    0,    0,
       3299,    0, 3686,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0, 9505,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,   86,    0,    0,    0,    0,    0,    0,   86,   97,
          0,    0,  237,  109,    5,    5,    5,  140,    0,  143,    0,
          0,    5,    5,   79,   84,  307,    7,   97,    0,    0,    5,
        142,  143,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0, 5899,
       5899,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    1,    1,    1,  481,  481,  481,  481,  481,  481,
        481,  481,    0])

In [4]:
# 3.4 Rellenar los valores nulos con ceros en todo el DataFrame
datos = datos.fillna(0)

In [5]:
datos.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [6]:
datos['coord_x_pases']

0        [20463338, 20463338, 20463334, 20463338, 20463...
1        [20444297, 20444553, 20444495, 20444418, 20444...
2        [20444531, 20444317, 20444366, 20444322, 20445...
3        [20074133, 20074149, 20074146, 20074163, 20074...
4        [20164962, 20165173, 20165063, 20165181, 20165...
                               ...
27774    [20441859, 20441859, 20441855, 20441856, 20441...
27775    [20170141, 20170973, 20170148, 20170990, 20170...
27776    [20441848, 20441849, 20441849, 20441850, 20441...
27777             [20459475, 20459467, 20459466, 20459467]
27778    [20094231, 20094490, 20094011, 20094742, 20094...
Name: coord_x_pases, Length: 27779, dtype: object

In [7]:
datos.select_dtypes(include=['object']).columns

Index(['previous_esperando_pala', 'estado_detalle_camion',
       'estado_secundario_camion', 'estado_primario_camion',
       'estado_detalle_pala', 'estado_secundario_pala', 'estado_primario_pala',
       'nombre_equipo', 'flota_secundaria', 'flota_principal',
       'nombre_equipo_carguio', 'nombre_turnocarga', 'nombre_turnodescarga',
       'nombre_descarga', 'nombre_carga_locacion', 'ids_poligonos_en_locacion',
       'nombre_poligono', 'ley_in', 'coord_x_pases', 'coord_y_pases',
       'coord_z_pases', 'angulo_giro_pases', 'tonelaje_pases',
       'duracion_excavacion_pases', 'has_block_pases'],
      dtype='object')

In [36]:
datos['estado_detalle_camion']=datos['estado_detalle_camion'].astype(str)

In [8]:
# Convertir todo las columnas de tipo OBJECT  a  tipo de datos String , para poder transformar de df pandas a df-spark
import pandas as pd

# Convertir todas las columnas de tipo object a string
for col in datos.select_dtypes(include=['object']).columns:
    datos[col] = datos[col].astype(str)

# Verifica que los tipos de datos han cambiado
print(datos.dtypes)

id_ciclo_acarreo                int64
id_cargadescarga                int64
id_palas                        int64
id_equipo_camion                int64
id_ciclo_carguio                int64
                               ...
tonelaje_pases                 object
duracion_excavacion_pases      object
angulo_giro_promedio_pases    float64
has_block_pases                object
rownum                          int64
Length: 146, dtype: object

In [10]:
datos.dtypes.values

array([dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'),
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)], dtype('float64'),
       dtype('float64'), dtype('O'), dtype('bool'), dtype('bool'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       datetime64[ns, pytz.FixedOffset(-300)], dtype('float64'),
       dtype('int64'), dtype('float64'), dtype('int64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('int64'), dtype('int64'),
       dtype('int64'), datetime64[ns, pytz.FixedOffset(-300)],
       dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'),
       dtype('O'), dtype('O'), dtype('O'), dtype('int64'), dtype('int64'),
       dtype('int64'), datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)],
       datetime64[ns, pytz.FixedOffset(-300)], dtype('int64'),
       dtype('int64'), dtype('float64'), dtype('float64'), dtype('bool'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int64'),
       dtype('float64'), dtype('bool'), dtype('bool'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('bool'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('int64'),
       dtype('O'), dtype('int64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('bool'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('O'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('O'), dtype('O'), dtype('int64'),
       dtype('float64'), dtype('O'), dtype('int64'), dtype('O'),
       dtype('int64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('O'), dtype('int64')], dtype=object)

### Convertir el DataFrame a Delta Lake

In [22]:
from pyspark.sql import SparkSession
from deltalake import DeltaTable

# Iniciar una sesiÃ³n de Spark
spark = SparkSession.builder.appName("PandasToDelta").getOrCreate()

# Convertir el DataFrame de pandas a DataFrame de Spark
spark_df = spark.createDataFrame(datos)

# # Guardar el DataFrame de Spark como una tabla Delta
# delta_path = "/tmp/delta_table"
# spark_df.write.format("delta").save(delta_path)

PySparkTypeError: [CANNOT_INFER_TYPE_FOR_FIELD] Unable to infer the type of the field `coord_x_pases`.